- content_for(:title) do
  Edit Repository Content

#edit_repository_content
  %h4
    = "Repository: #{@repository.name}"
  = render 'repositories/navigation'
  = form_for @repository, url: repository_content_url(@repository), html: { class: 'repository_form' } do |f|
    .row
      .general_content
        %h3
          General Content
        = f.cktext_area :general_content
    .row
      .specimen_content
        %h3
          Specimen Content
        = f.cktext_area :specimen_content
    .row
      .data_content
        %h3
          Data Content
        = f.cktext_area :data_content
    .navigation{class: 'small-offset-12 small-12 large-offset-16 large-8 columns text-right' }
      = f.submit 'Save', class: 'button', name: 'submit', value: 'Save'
      = f.submit 'Publish', class: 'button', name: 'submit', value: 'Publish', disabled: !@repository.unpublished_content?
      = link_to 'View', repository_url(@repository), class: 'button', target: '_blank'
      = link_to 'Cancel', repositories_url, class: 'cancel-link button warning'
