%h3
  Repository:
#repository
  = form_for @repository, html: { class: 'repository_form' } do |f|
    .row
      .name
        %label{for: 'name' }
          Name
          %span{ class: 'required' }
            *
          = f.text_field :name
          - if validation_errors?(@repository, :name)
            %p.error= format_validation_errors(@repository, :name)
      .data
        %label{for: 'data' }
          Data
          %span{ class: 'required' }
            *
          = f.check_box :data
          - if validation_errors?(@repository, :data)
            %p.error= format_validation_errors(@repository, :data)
    .row
      .specimens
        %label{for: 'data' }
          Specimens
          %span{ class: 'required' }
            *
          = f.check_box :specimens
          - if validation_errors?(@repository, :specimens)
            %p.error= format_validation_errors(@repository, :specimens)
    .navigation
      %p.help-text
        %span{ class: 'required' }
          *
        Indicates required field
      = f.submit 'Save', class: 'button'
      = link_to 'Cancel', repositories_url, class: 'cancel-link button warning'