.row
  .name
    %div{class: 'small-14 large-4 columns' }
      %label{for: 'repository_name' }
        Name
        %span{ class: 'required' }
    %div{class: 'small-10 large-20 columns' }
      = f.text_field :name
      - if validation_errors?(repository, :name)
        %p.error= format_validation_errors(repository, :name)
.row
  .public
    %div{class: 'small-14 large-4 columns' }
      %label{for: 'repository_public' }
        Public?
    %div{class: 'small-10 large-20 columns' }
      = f.check_box :public
      %span{ class: 'help-text' }
        (Checking this field makes the repository publicly visible to visiting users.)
.row
  .irb_template
    %div{class: 'small-14 large-4 columns' }
      %label{for: 'repository_irb_template' }
        IRB Template
    %div{class: 'small-10 large-20 columns' }
      %div
        - if repository.irb_template? && !repository.new_record?
          = link_to download_file_repository_url(repository, file_type: 'irb_template'), 'data-turbolinks' => false, class: 'irb_template_url' do
            %i
            = repository.irb_template.file.filename
        - if repository.irb_template? && repository.new_record?
          = link_to repository.irb_template.identifier, "#{repository.irb_template.url}",  class: 'irb_template_url'
        = f.file_field :irb_template
        = f.hidden_field :irb_template_cache
        - if repository.irb_template? && !repository.new_record?
          %label{for: 'repository_remove_irb_template' }
            Remove file
            = f.check_box :remove_irb_template
.row
  .data_dictionary
    %div{class: 'small-14 large-4 columns' }
      %label{for: 'repository_data_dictionary' }
        Data Dictionary
    %div{class: 'small-10 large-20 columns' }
      %div
        - if repository.data_dictionary? && !repository.new_record?
          = link_to download_file_repository_url(repository, file_type: 'data_dictionary'), 'data-turbolinks' => false, class: 'data_dictionary_url' do
            %i
            = repository.data_dictionary.file.filename
        - if repository.data_dictionary? && repository.new_record?
          = link_to repository.data_dictionary.identifier, "#{repository.data_dictionary.url}", class: 'data_dictionary_url'
        = f.file_field :data_dictionary
        = f.hidden_field :data_dictionary_cache
        - if repository.data_dictionary? && !repository.new_record?
          %label{for: 'repository_remove_data_dictionary' }
            Remove file
            = f.check_box :remove_data_dictionary
.row
  .custom_request_form
    %div{class: 'small-14 large-4 columns' }
      %label{for: 'repository_custom_request_form' }
        Custom Request Form
    %div{class: 'small-10 large-20 columns' }
      %div
        - if repository.custom_request_form? && !repository.new_record?
          = link_to download_file_repository_url(repository, file_type: 'custom_request_form'), 'data-turbolinks' => false, class: 'custom_request_form_url' do
            %i
            = repository.custom_request_form.file.filename
        - if repository.custom_request_form? && repository.new_record?
          = link_to repository.custom_request_form.identifier, "#{repository.custom_request_form.url}", class: 'custom_request_form_url'
        = f.file_field :custom_request_form
        = f.hidden_field :custom_request_form_cache
        - if repository.custom_request_form? && !repository.new_record?
          %label{for: 'repository_remove_custom_request_form' }
            Remove file
            = f.check_box :remove_custom_request_form