- content_for(:title) do
  Edit Repository

#edit_repository
  %h4
    = "Repository: #{@repository.name}"
  = render 'repositories/navigation'
  = form_for @repository, html: { class: 'repository_form', multipart: true } do |f|
    = render 'repository', repository: @repository, f: f
    .navigation{class: 'small-offset-12 small-12 large-offset-20 large-4 columns' }
      %p.help-text
        %span{ class: 'required' }
        Indicates required field
      = f.submit 'Save', class: 'button'
      = link_to 'Cancel', repositories_url, class: 'cancel-link button warning'