%tr{ class: 'nested-fields disburser_request_detail' }
  %td.field.specimen_type
    = f.select :specimen_type_id, options_for_select(@specimen_types,  selected: f.object.specimen_type_id), { include_blank: 'Select a type' }
    - if validation_errors?(f.object, :specimen_type_id)
      %p.error= format_validation_errors(f.object, :specimen_type_id)
  %td.field.quantity
    = f.number_field :quantity, placeholder: 'Quantity'
    - if validation_errors?(f.object, :quantity)
      %p.error= format_validation_errors(f.object, :quantity)
  %td.field.volume
    = f.text_field :volume, placeholder: 'Volume'
  %td.field.comments
    = f.text_area :comments, placeholder: 'Comments', rows: 2
  %td.remove
    = link_to_remove_association 'Remove', f, class: 'button tiny alert'