#disburser_navigation
  .disburser_branding
    .row.expanded
      .disburser_title{ class: 'large-18 columns' }
        %h5
          Clinical Research Repository Disburser
        %h6
          Robert H. Lurie Comprehensive Cancer Center of Northwestern University
      .disburser_title{ class: 'large-6 columns text-right' }
        %a{ :href => 'http://cancer.northwestern.edu/home/index.cfm' }
          = image_tag('rhlccc_small_2.png', alt: 'Robert H. Lurie Comprehensive Cancer Center of Northwestern University')
  .title-bar{"data-hide-for" => "medium", "data-responsive-toggle" => "disburser-menu"}
    %button.menu-icon{"data-toggle" => "disburser-menu", type: "button"}
    .title-bar-title Menu
  #disburser-menu.top-bar
    .top-bar-left
      %ul.dropdown.menu{"data-dropdown-menu" => ""}
        %li.home.menu-text
          = link_to 'Home', root_url
        - if user_signed_in?
          - if policy(Repository).index?
            %li.repositories.menu-text{ class: active?('active', controller: 'repositories', action: 'index') }
              = link_to "Repositories", repositories_url
          %li.requests.menu-text{ class: active?('active', controller: 'disburser_requests', action: 'index') }
            = link_to "Requests", disburser_requests_url
          - if policy(DisburserRequest).admin?
            %li.admin.menu-text{ class: active?('active', controller: 'disburser_requests', action: 'admin') }
              = link_to 'Admin', admin_disburser_requests_url
          - if policy(DisburserRequest).data_coordinator?
            %li.data_coordinator.menu-text{ class: active?('active', controller: 'disburser_requests', action: 'data_coordinator') }
              = link_to 'Data Coordinator', data_coordinator_disburser_requests_url
          - if policy(DisburserRequest).specimen_coordinator?
            %li.specimen_coordinator.menu-text{ class: active?('active', controller: 'disburser_requests', action: 'specimen_coordinator') }
              = link_to 'Specimen Coordinator', specimen_coordinator_disburser_requests_url
    .top-bar-right
      %ul.menu
        - if user_signed_in?
          %li.profile.menu-text{ class: active?('active', controller: 'users', action: 'show', id: current_user.id) }
            = link_to "Profile (#{current_user.username})", user_url(current_user)
        - else
          %li.login.menu-text
          %li.login.menu-text{ class: active?('active', controller: 'devise/sessions', action: 'new') }
            = link_to 'Login', new_user_session_url
        %li.log_out.menu-text
          - if user_signed_in?
            = link_to "Log out", destroy_user_session_path, method: :delete