- if user_signed_in?
  %li.profile.menu-text{ class: active?('active', controller: '/users', action: 'show', id: current_user.id) }
    = link_to "Profile (#{current_user.username})", user_url(current_user)
- else
  %li.login.menu-text
  %li.login.menu-text{ class: active?('active', controller: 'devise/sessions', action: 'new') }
    = link_to 'Login', login_path
%li.log_out.menu-text
  - if northwestern_user_signed_in?
    = link_to "Log out", destroy_northwestern_user_session_path, method: :delete
  - if external_user_signed_in?
    = link_to "Log out", destroy_external_user_session_path, method: :delete