.status_history{ class: 'large-18 columns' }
  - if @disburser_request.disburser_request_statuses.any?
    %b
      Status History
    %table.hack_stack
      %thead
        %tr
          %th.status
            Status
          %th.date
            Date
          %th.user
            User
          %th.comments
            Comments
      %tbody
        - @disburser_request.disburser_request_statuses.order('created_at ASC').each do |disburser_request_status|
          = content_tag_for(:tr, disburser_request_status) do
            %td.status
              = disburser_request_status.status
            %td.date
              = disburser_request_status.created_at.to_s(:date)
            %td.user
              = disburser_request_status.user.full_name
            %td.comments
              = disburser_request_status.comments
