.status_history{ class: "large-#{width} columns" }
  - disburser_request_statuses = @disburser_request.disburser_request_statuses.by_status_type(DisburserRequestStatus::DISBURSER_REQUEST_STATUS_TYPE_STATUS)
  .statuses
    %b
      Status History
    - if disburser_request_statuses.empty?
      %br
      Not Started
    - else
      %table.hack_stack
        %thead
          %tr
            %th.status{ width: 200 }
              Status
            %th.date{ width: 200 }
              Date
            %th.user{ width: 200 }
              User
            %th.comments{ width: 200 }
              Comments
        %tbody
          - @disburser_request.disburser_request_statuses.each do |disburser_request_status|
            - if disburser_request_status.status_type  == DisburserRequestStatus::DISBURSER_REQUEST_STATUS_TYPE_STATUS
              = content_tag_for(:tr, disburser_request_status) do
                %td.status
                  = disburser_request_status.status
                %td.date
                  = format_date(disburser_request_status.status_at)
                %td.user
                  = disburser_request_status.user.full_name
                %td.comments
                  = disburser_request_status.comments
  - disburser_request_statuses = @disburser_request.disburser_request_statuses.by_status_type(DisburserRequestStatus::DISBURSER_REQUEST_STATUS_TYPE_DATA_STATUS)
  .data_statuses
    %b
      Data Status History
    - if disburser_request_statuses.empty?
      %br
      = DisburserRequest::DISBURSER_REQUEST_DATA_STATUS_NOT_STARTED
    - else
      %table.hack_stack
        %thead
          %tr
            %th.status{ width: 200 }
              Status
            %th.date{ width: 200 }
              Date
            %th.user{ width: 200 }
              User
            %th.comments{ width: 200 }
              Comments
        %tbody
          - @disburser_request.disburser_request_statuses.each do |disburser_request_status|
            - if disburser_request_status.status_type  == DisburserRequestStatus::DISBURSER_REQUEST_STATUS_TYPE_DATA_STATUS
              = content_tag_for(:tr, disburser_request_status) do
                %td.status
                  = disburser_request_status.status
                %td.date
                  = format_date(disburser_request_status.status_at)
                %td.user
                  = disburser_request_status.user.full_name
                %td.comments
                  = disburser_request_status.comments

  - disburser_request_statuses = @disburser_request.disburser_request_statuses.by_status_type(DisburserRequestStatus::DISBURSER_REQUEST_STATUS_TYPE_SPECIMEN_STATUS)
  .specimen_statuses
    %b
      Specimen Status History
    - if disburser_request_statuses.empty?
      %br
      = DisburserRequest::DISBURSER_REQUEST_SPECIMEN_STATUS_NOT_STARTED
    - else
      %table.hack_stack
        %thead
          %tr
            %th.status{ width: 100 }
              Status
            %th.name{ width: 100 }
              Type
            %th.quantity{ width: 50 }
              Quantity
            %th.date{ width: 100 }
              Date
            %th.user{ width: 100 }
              User
            %th.comments{ width: 150 }
              Comments
        %tbody
          - @disburser_request.disburser_request_statuses.each do |disburser_request_status|
            - if disburser_request_status.status_type  == DisburserRequestStatus::DISBURSER_REQUEST_STATUS_TYPE_SPECIMEN_STATUS
              = content_tag_for(:tr, disburser_request_status) do
                %td.status
                  = disburser_request_status.status
                %td.status-name
                  = disburser_request_status&.specimen_type&.name
                %td.status-quantity
                  = disburser_request_status.specimen_quantity
                %td.date
                  = format_date(disburser_request_status.status_at)
                %td.user
                  = disburser_request_status.user.full_name
                %td.comments
                  = disburser_request_status.comments