- content_for(:title) do
  Committee

#disburser_requests
  .disburser_requests_header
    %h4
      Committee
    = form_tag committee_disburser_requests_url, method: 'get', id: 'search_disburser_requests_form'  do
      .repository{ class: 'large-4 columns' }
        %label{for: 'repository_id' }
          Repository
        = select_tag :repository_id, options_for_select(@repositories.map { |repository| [repository.name, repository.id] }, (params[:repository_id].blank? ? '' : params[:repository_id])), { include_blank: 'all', class: 'repository '}
      .status{ class: 'large-4 columns' }
        %label{for: 'status' }
          Status
        = select_tag :status, options_for_select(DisburserRequest::DISBURSER_REQUEST_STATUSES_REVIEWABLE.map { |status| [status, status] }, (params[:status].blank? ? '' : params[:status])), { include_blank: 'all', class: 'status'}
      .vote_status{ class: 'large-4 columns' }
        %label{for: 'vote_status' }
          Vote Status
        = select_tag :vote_status, options_for_select(DisburserRequest::DISBURSER_REQUEST_VOTE_STATUSES.map { |vote_status| [vote_status, vote_status] }, (params[:vote_status].blank? ? '' : params[:vote_status])), { include_blank: 'all', class: 'vote_status'}
      .search_box{ class: 'large-8 columns' }
        %label{for: 'search' }
          Search
        = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
      .search_buttons{ class: 'large-4 columns' }
        %button{ type: 'submit', id: 'search_disburser_requests_button', class: 'tiny button' }
          Search
        = link_to 'Clear', committee_disburser_requests_url
  .disburser_requests_list
    = will_paginate @disburser_requests, renderer: FoundationPagination::Rails
    %table.hack_stack
      %thead
        %tr
          %th.repository
            = sortable 'repositories.name', 'Repository'
          %th.title
            = sortable 'title'
          %th.submitter
            = sortable 'users.last_name', 'Submitter'
          %th.investigator
            = sortable 'investigator'
          %th.irb_number
            = sortable 'irb_number', 'IRB Number'
          %th.status
            = sortable 'status'
          %th.fulfillment_status
            = sortable 'fulfillment_status'
          %th.edit
      %tbody
        - @disburser_requests.each do |disburser_request|
          = content_tag_for(:tr, disburser_request) do
            %td.repository
              = disburser_request.repository.name
            %td.title
              = disburser_request.title
            %td.submitter
              = disburser_request.submitter.full_name
            %td.investigator
              = disburser_request.investigator
            %td.irb_number
              = disburser_request.irb_number
            %td.status
              = disburser_request.status
            %td.fulfillment_status
              = disburser_request.fulfillment_status
            %td.edit
              = link_to 'Review', edit_committee_review_disburser_request_url(disburser_request), { class: 'edit_committee_review_disburser_request_link' }
    = will_paginate @disburser_requests, renderer: FoundationPagination::Rails