- content_for(:title) do
  Coordinator

#disburser_requests
  .disburser_requests_header
    %h2
      Coordinator
    = form_tag coordinator_disburser_requests_url, method: 'get', id: 'search_disburser_requests_form'  do
      .status{ class: 'large-offset-8 large-4 columns' }
        = select_tag :status, options_for_select(DisburserRequest::DISBURSER_REQUEST_STATUSES.map { |status| [status, status] }, (params[:status].blank? ? '' : params[:status])), { include_blank: 'all', class: 'status'}
      .search_box{ class: 'large-8 columns' }
        = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
      .search_buttons{ class: 'large-4 columns' }
        %button{ type: 'submit', id: 'search_disburser_requests_button', class: 'tiny button' }
          Search
        = link_to 'Clear', coordinator_disburser_requests_url
  .disburser_requests_list
    = will_paginate @disburser_requests, renderer: FoundationPagination::Rails
    %table
      %thead
        %tr
          %th.repository{ width: 200 }
            = sortable 'repositories.name', 'Repository'
          %th.title{ width: 200 }
            = sortable 'title'
          %th.submitter{ width: 200 }
            = sortable 'users.last_name', 'Submitter'
          %th.investigator{ width: 200 }
            = sortable 'investigator'
          %th.irb_number{ width: 200 }
            = sortable 'irb_number', 'IRB Number'
          %th.specimens{ width: 200 }
            = sortable 'specimens'
          %th.status{ width: 200 }
            = sortable 'status'
          %th.edit{ width: 100 }
      %tbody
        - @disburser_requests.each do |disburser_request|
          = content_tag_for(:tr, disburser_request) do
            %td.repository
              = disburser_request.repository.name
            %td.title
              = disburser_request.title
            %td.submitter
              = disburser_request.submitter.full_name
            %td.investigator
              = disburser_request.investigator
            %td.irb_number
              = disburser_request.irb_number
            %td.specimens
              = disburser_request.specimens
            %td.status
              = disburser_request.status
            %td.edit
              = link_to 'View', repository_disburser_request_url(disburser_request.repository,  disburser_request), { class: 'show_repository_link' }
    = will_paginate @disburser_requests, renderer: FoundationPagination::Rails