- content_for(:title) do
  Data Coordinator

#disburser_requests
  .disburser_requests_header
    %h2
      Data Coordinator
    = form_tag data_coordinator_disburser_requests_url, method: 'get', id: 'search_disburser_requests_form'  do
      .status{ class: 'large-offset-4 large-4 columns' }
        %label{for: 'status' }
          Status
        = select_tag :status, options_for_select(DisburserRequest::DISBURSER_REQUEST_STATUSES_SANS_DRAFT.map { |status| [status, status] }, (params[:status].blank? ? '' : params[:status])), { include_blank: 'all', class: 'status'}
      .fulfillment_status{ class: 'large-4 columns' }
        %label{for: 'fulfillment_status' }
          Fulfillment Status
        = select_tag :fulfillment_status, options_for_select(DisburserRequest::DISBURSER_REQUEST_FULFILLMENT_STATUSES.map { |status| [status, status] }, (params[:fulfillment_status].blank? ? '' : params[:fulfillment_status])), { include_blank: 'all', class: 'status'}
      .search_box{ class: 'large-8 columns' }
        %label{for: 'search' }
          Search
        = text_field_tag :search, (params[:search].nil? ? '' : params[:search]), type: 'search'
      .search_buttons{ class: 'large-4 columns' }
        %button{ type: 'submit', id: 'search_disburser_requests_button', class: 'tiny button' }
          Search
        = link_to 'Clear', data_coordinator_disburser_requests_url
  .disburser_requests_list
    = will_paginate @disburser_requests, renderer: FoundationPagination::Rails
    %table.hack_stack
      %thead
        %tr
          %th.repository
            = sortable 'repositories.name', 'Repository'
          %th.title
            = sortable 'title'
          %th.submitter
            = sortable 'users.last_name', 'Submitter'
          %th.investigator
            = sortable 'investigator'
          %th.irb_number
            = sortable 'irb_number', 'IRB Number'
          %th.feasibility
            = sortable 'feasibility'
          %th.status
            = sortable 'status'
          %th.fulfillment_status
            = sortable 'fulfillment_status'
          %th.edit
      %tbody
        - @disburser_requests.each do |disburser_request|
          = content_tag_for(:tr, disburser_request) do
            %td.repository
              = disburser_request.repository.name
            %td.title
              = disburser_request.title
            %td.submitter
              = disburser_request.submitter.full_name
            %td.investigator
              = disburser_request.investigator
            %td.irb_number
              = disburser_request.irb_number
            %td.feasibility
              = human_boolean(disburser_request.feasibility)
            %td.status
              = disburser_request.status
            %td.fulfillment_status
              = disburser_request.fulfillment_status
            %td.edit
              = link_to 'Update Status', edit_data_status_disburser_request_url(disburser_request), { class: 'edit_data_status_disburser_request_link' }
    = will_paginate @disburser_requests, renderer: FoundationPagination::Rails