- content_for(:title) do
  Request
#disburser_request
  .row
    %h4
      = "Request for: #{@disburser_request.repository.name}"
    - if policy(@disburser_request).cancel?
      = form_for [@repository, @disburser_request],  url: cancel_disburser_request_url(@disburser_request),  html: { class: 'disburser_request_form_cancel large-offset-18 large-offset-6'  } do |f|
        = f.submit 'Cancel Request', class: 'button alert',  data: { confirm: 'Are you sure you want to cancel this disbursement request?' }
    = form_for [@repository, @disburser_request], html: { class: 'disburser_request_form disburser_request_form_submitter', multipart: true  } do |f|
      %p.help-text
        %span{ class: 'required' }
        Indicates required field
      = render 'disburser_request', repository: @repository, f: f
      .row
        = render 'status_history', disburser_request: @disburser_request, width: 18
        .status_update{ class: 'large-6 columns' }
          - if @disburser_request.new_record? || @disburser_request.draft?
            %b
              Status
            %p.help-text
              %br
              'Submitted' will send your request for review.
            = f.radio_button :status, DisburserRequest::DISBURSER_REQUEST_STAUTS_DRAFT, checked: checked?(@disburser_request.status, DisburserRequest::DISBURSER_REQUEST_STAUTS_DRAFT, true)
            = f.label :status, 'Draft', value: DisburserRequest::DISBURSER_REQUEST_STAUTS_DRAFT
            = f.radio_button :status, DisburserRequest::DISBURSER_REQUEST_STATUS_SUBMITTED, checked: checked?(@disburser_request.status, DisburserRequest::DISBURSER_REQUEST_STATUS_SUBMITTED, false)
            = f.label :status, 'Submitted', value: DisburserRequest::DISBURSER_REQUEST_STATUS_SUBMITTED
          - else
            = f.hidden_field :status
            %b
              Statuses
            .status
              %b
                Status:
              = @disburser_request.status
            .data_status
              %b
                Data Status:
              = @disburser_request.data_status
            .specimen_status
              %b
                Specimen Status:
              = @disburser_request.specimen_status
          .navigation
            = f.submit 'Save', class: 'button'
            = link_to 'Cancel', disburser_requests_url, class: 'cancel-link button warning'