- content_for(:title) do
  Request
#disburser_request_show
  %h4
    = "Request for: #{@disburser_request.repository.name}"
  = render 'edit_status', disburser_request: @disburser_request
  .row
    = render 'status_history', disburser_request: @disburser_request, width: 18
    .status_update{ class: 'large-6 columns' }
      - if policy(@disburser_request).edit_data_status?
        = form_for @disburser_request, url: data_status_disburser_request_url(@disburser_request), html: { class: 'status_disburser_request_form', id: "status_disburser_request_#{@disburser_request.id}"  } do |f|
          .row
            .status{ class: 'large-24 columns' }
              %label{for: 'disburser_request_data_status' }
                %b
                  Update Data Status
              = f.hidden_field :data_status, id: :data_status_original
              - DisburserRequest::DISBURSER_REQUEST_DATA_STATUSES.each do |disburser_request_data_status|
                %br
                = f.radio_button :data_status, disburser_request_data_status, checked: checked?(@disburser_request.data_status, disburser_request_data_status, false)
                = f.label :data_status, disburser_request_data_status, value: disburser_request_data_status
                - if @disburser_request.data_status == disburser_request_data_status
                  = '(current status)'
            .data_status_status_at
              %label{for: 'disburser_request_data_status_status_at' }
                Date
              = f.text_field :data_status_status_at, disabled: true, class: 'datepicker'
              - if validation_errors?(@disburser_request, :data_status_status_at)
                %p.error=format_validation_errors(@disburser_request, :data_status_status_at)
                %br
            .data_status_comments
              %label{for: 'disburser_request_data_status_comments' }
                Data Status Comments
              = f.text_area :data_status_comments, rows: 3, disabled: true
          .row
            .navigation{ class: 'large-offset-8 large-16 columns' }
              = f.submit 'Save', class: 'button'
              = link_to 'Cancel', data_coordinator_disburser_requests_url, class: 'cancel-link button warning'