- content_for(:title) do
  New Request
#disburser_request
  %h2
    = "New Request for: #{@repository.name}"
  = form_for [@repository, @disburser_request], html: { class: 'disburser_request_form', multipart: true  } do |f|
    %p.help-text
      %span{ class: 'required' }
      Indicates required field
    = render 'disburser_request', repository: @repository, f: f
    .navigation{ class: 'small-offset-8 small-16 large-offset-20 large-4 columns' }
      = f.submit 'Save', class: 'button'
      - if current_user.admin?
        = link_to 'Cancel', admin_disburser_requests_url, class: 'cancel-link button warning'
      -else
        = link_to 'Cancel', disburser_requests_url, class: 'cancel-link button warning'
