- content_for(:title) do
  Request
#disburser_request_show
  %h2
    = "Request for: #{@disburser_request.repository.name}"
  .row
    .submitter{class: 'small-24 columns' }
      %div{class: 'small-12 large-5 columns' }
        %label{for: 'disburser_request_submitter' }
          Submitter
      %div{class: 'small-12 large-19 columns' }
        = @disburser_request.submitter.full_name
  .row
    .investigator{class: 'small-24 columns' }
      %div{class: 'small-12 large-5 columns' }
        %label{for: 'disburser_request_investigator' }
          Investigator
      %div{class: 'small-12 large-19 columns' }
        = @disburser_request.investigator
  .row
    .title{class: 'small-24 columns' }
      %div{class: 'small-12 large-5 columns' }
        %label{for: 'disburser_request_title' }
          Title
      %div{class: 'small-12 large-19 columns' }
        = @disburser_request.title
  .row
    .irb_number{class: 'small-24 columns' }
      %div{class: 'small-12 large-5 columns' }
        %label{for: 'disburser_request_irb_number' }
          IRB Number
      %div{class: 'small-12 large-19 columns' }
        = @disburser_request.irb_number
  .row
    %fieldset{class: 'small-offset-5 small-19 columns' }
      = check_box_tag @disburser_request, :specimens, @disburser_request.specimens, disabled: true
      %label{for: 'disburser_request_specimens'} Specimens?
      = check_box_tag @disburser_request, :feasibility, @disburser_request.feasibility, disabled: true
      %label{for: 'disburser_request_feasibility'} Feasibility?
  .row
    .methods_justifications{class: 'small-24 columns' }
      %div{class: 'small-12 large-5 columns' }
        %label{for: 'disburser_request_methods_justifications' }
          Methods/Justifications
      %div{class: 'small-12 large-19 columns' }
        %div
          - if @disburser_request.methods_justifications?
            = link_to download_file_repository_disburser_request_url(@disburser_request, file_type: 'methods_justifications'), 'data-turbolinks' => false, class: 'methods_justifications_url' do
              %i
              = @disburser_request.methods_justifications.file.filename
  .row
    .cohort_criteria{class: 'small-24 columns' }
      %label{for: 'disburser_request_cohort_criteria' }
        Cohort Criteria
      = text_area_tag :cohort_criteria, @disburser_request.cohort_criteria, rows: 2, disabled: true

  .row
    .data_for_cohort{class: 'small-24 columns' }
      %label{for: 'disburser_request_data_for_cohort' }
        Data for cohort
      = text_area_tag :data_for_cohort, @disburser_request.data_for_cohort, rows: 2, disabled: true
  .row
    .disburser_request_details{class: 'small-24 columns' }
      %table{ id: 'disburser_request_details' }
        %thead
          %tr
            %th.specimen_type{ width: 200 }
              Type
            %th.quantity{ width: 200 }
              Quantity
            %th.volume{ width: 200 }
              Volume
            %th.comments{ width: 200 }
              Comments
        %tbody
          - @disburser_request.disburser_request_details.each do |disburser_request_detail|
            = render 'disburser_request_details/disburser_request_detail_fields_show', disburser_request_detail: disburser_request_detail
  .row
    - if policy(DisburserRequest).coordinator?
      - if @disburser_request.submitted?
        = form_for @disburser_request, url: status_disburser_request_url(@disburser_request), html: { class: 'status_disburser_request_form', id: "status_disburser_request_#{@disburser_request.id}"  } do |f|
          .status{ class: 'small-offset-6 small-18 large-offset-18 large-6 columns' }
            = field_set_tag 'Status' do
              = f.radio_button :status, DisburserRequest::DISBURSER_REQUEST_STAUTS_QUERIED, checked: checked?(@disburser_request.status, DisburserRequest::DISBURSER_REQUEST_STAUTS_QUERIED, true)
              = f.label :status, 'Queried', value: DisburserRequest::DISBURSER_REQUEST_STAUTS_QUERIED, for: 'disburser_request_status_queried'
              = f.radio_button :status, DisburserRequest::DISBURSER_REQUEST_STAUTS_INSUFFICIENT_DATA, checked: checked?(@disburser_request.status, DisburserRequest::DISBURSER_REQUEST_STAUTS_INSUFFICIENT_DATA, true)
              = f.label :status, 'Insufficient Data', value: DisburserRequest::DISBURSER_REQUEST_STAUTS_INSUFFICIENT_DATA, for: 'disburser_request_status_insufficient_data'
          .navigation{ class: 'small-offset-6 small-18 large-offset-20 large-4 columns' }
            = f.submit 'Save', class: 'button'
            = link_to 'Cancel', coordinator_disburser_requests_url, class: 'cancel-link button warning'
      - elsif @disburser_request.queried?
        = form_for @disburser_request, url: status_disburser_request_url(@disburser_request), html: { class: 'status_disburser_request_form', id: "status_disburser_request_#{@disburser_request.id}"  } do |f|
          .status{ class: 'small-24 large-offset-17 large-7 columns' }
            = field_set_tag 'Status' do
              = f.radio_button :status, DisburserRequest::DISBURSER_REQUEST_STAUTS_INVENTORIED, checked: checked?(@disburser_request.status, DisburserRequest::DISBURSER_REQUEST_STAUTS_INVENTORIED, true)
              = f.label :status, 'Inventoried', value: DisburserRequest::DISBURSER_REQUEST_STAUTS_INSUFFICIENT_INVENTORY, for: 'disburser_request_status_inventoried'
              = f.radio_button :status, DisburserRequest::DISBURSER_REQUEST_STAUTS_INSUFFICIENT_INVENTORY, checked: checked?(@disburser_request.status, DisburserRequest::DISBURSER_REQUEST_STAUTS_INSUFFICIENT_INVENTORY, true)
              = f.label :status, 'Insufficient Inventory', value: DisburserRequest::DISBURSER_REQUEST_STAUTS_INSUFFICIENT_INVENTORY, for: 'disburser_request_status_insufficient_inventory'
          .navigation{ class: 'small-offset-6 small-18 large-offset-20 large-4 columns' }
            = f.submit 'Save', class: 'button'
            = link_to 'Cancel', coordinator_disburser_requests_url, class: 'cancel-link button warning'
    .navigation{ class: 'small-offset-6 small-18 large-offset-20 large-4 columns' }
      = link_to 'Coordintor', coordinator_disburser_requests_url, class: 'coordinator-link button warning'