%tr{ class: 'nested-fields specimen_type' }
  %td.field.name
    = f.text_field :name
    - if validation_errors?(f.object, :name)
      %p.error= format_validation_errors(f.object, :name)
    = f.hidden_field :id
  %td.remove
    - if f.object.disburser_request_details.empty?
      = link_to_remove_association 'Remove', f, class: 'button'
    - else
      = link_to 'Remove', '', class: 'button disabled'
      %span.help-text
        (Removal not allowed)
