#repository_user
  %h3
    User
  = form_for [@repository, @repository_user], html: { class: 'new_repository_user_form' }, remote: true, validate: true do |f|
    = link_to '', users_url(repository_id: @repository.id), class: 'hide', id: 'users_url'
    .row
      .username
        %label{for: 'username' }
          %i{ class: 'instructions' }
            Enter first name and/or last name
        = f.select :username, options_for_select(@users,  selected: f.object.username), { include_blank: true }
        - if validation_errors?(@repository_user, :username)
          %p.error= format_validation_errors(@repository_user, :username)
    .row
      .administrator
        %div{class: 'small-4 columns' }
          %label{for: 'repository_user_administrator', class: 'text-left' }
            Administrator?
        %div{class: 'small-20 columns' }
          = f.check_box :administrator
    .row
      .committee
        %div{class: 'small-4 columns' }
          %label{for: 'repository_user_committee', class: 'text-left' }
            Committee Member?
        %div{class: 'small-20 columns' }
          = f.check_box :committee
    .row
      .specimen_resource
        %div{class: 'small-4 columns' }
          %label{for: 'repository_user_specimen_resource', class: 'text-left'  }
            Specimen Resource?
        %div{class: 'small-20 columns' }
          = f.check_box :specimen_resource
    .row
      .data_resource
        %div{class: 'small-4 columns' }
          %label{for: 'repository_user_data_resource', class: 'text-left' }
            Data Resource?
        %div{class: 'small-20 columns' }
          = f.check_box :data_resource
      .navigation
        = f.submit 'Save', class: 'button'
        = link_to 'Cancel', '', class: 'cancel-link button warning'