!!!
%html{:lang => "en"}
  %head
    %meta{charset: 'utf-8'}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport' }
    %meta{ name: 'turbolinks-cache-control', content: 'no-cache' }
    %title= content_for?(:title) ? "Disburser #{yield(:title)}" : 'Disburser'
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = javascript_include_tag Ckeditor.cdn_url
    = csrf_meta_tags
  %body{ class: "#{controller_name} #{action_name}"}
    = render 'shared/navigation'
